<% if @movie.errors.any? %>
  
  	<div class="alert alert-danger">
  		The form contains <%= pluralize(@movie.errors.count, "error") %>.
  	</div>
  	
	<% @movie.errors.full_messages.each do |msg| %>
	<li class="movie-error"><%= msg %></li>

    <% end %>
<% end %>