<header class="navbar ">
  <div >
    <nav>
      <ul class="nav nav-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Now Playing", root_path %></li>
        <li><%= link_to "Admin", '/orders' %>
        
      </ul>
    </nav>
  </div>
</header>